
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>
    <form action="/Disciplinas/Create" method="post">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control"
                   maxlength="100"
                   id="descriçao" name="descricao"
                   required />
        </div>
        <div>
            <div class="form-group">
                <label for="idCurso">ID Do Curso</label>
                <input type="number" class="form-control"
                       id="IdCurso" name="iDCurso" min="0"
                       value=""
                       required />
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="Carga">Carga Horaria</label>
                <input type="number"
                       class="form-control"
                       id="Carga" name="Carga" min="0"
                       value=""
                       required />

            </div>

        </div>
        <div>
            <a href="/Disciplinas/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
            <a href="/Disciplinas/Index"> <button type="submit" class="btn btn-success">Salvar</button>  </a>
        </div>
    </form>
</div>

