@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <a href="/Cursos/index">
        <div class="col-md-2 divCursoitemDashboard">
            <div>
                <h2>Cursos</h2>
            </div>
        </div>
    </a>

    <a href="/Disciplinas/index">
        <div class="col-md-2 divCursoitemDashboard">
            <div>
                <h2>Desciplinas</h2>
            </div>
        </div>
    </a>

    <a href="/Home/DashboadCursos/index">
        <div class="col-md-2 divCursoitemDashboard">
            <div>
                <h2>DashboadCursos</h2>
            </div>
        </div>
    </a>

</div>
