
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Cursos</h2>

<div>
    <form action="/Cursos/Create" method="post">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control"
                   maxlength="100"
                   id="descriçao" name="descricao"
                   required />
        </div>
        <div class="form-group">
            <label for="Habilidade">Habilidade</label>
            <input type="text" class="form-control"
                   id="habilidade" name="habilidade" min="0"
                   value=""
                   required />
        </div>
        <div class="form-group">
            <label for="Modalidade">Modalidade</label>
            <input type="text" class="form-control"
                   id="Modalidade" name="Modalidade" min="0"
                   value=""
                   required />
        </div>
        <div>
            <a href="/Cursos/Index"> <button type="button" class="btn btn-primary">Voltar</button>  </a>
            <a href="/Cursos/Index"> <button type="submit" class="btn btn-success">Salvar</button>  </a>
        </div>
    </form>
</div>

