@model MiniCursos.Models.Cursos
@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir Curso</h2>

<div>
    <form action="/Cursos/ExcluirConfirma?id=@Model.CURSOID" method="post">
        <label>Descrição :</label>
        <label>@Model.CURSODESCRICAO</label>

        <div>
            <label>Minimo :</label>
            <label>@Model.CURSOCODHABILIDADE</label>

        </div>

        <div>
            <label>Maximo :</label>
            <label>@Model.CURSOMODALIDADE</label>

        </div>
        <div>
            <a href="/Cursos/Index"> <button type="button" class="btn btn-primary">Voltar</button></a>
            <a href="/Cursos/Index"><button type="submit" class="btn btn-danger">Excluir</button> </a>
        </div>

    </form>

</div>


